@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    transform: .2s linear;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    background: rgb(255, 248, 211);
    padding-bottom: 40px;
    min-height: 100vh;
    box-sizing: border-box;
}

.encabezado{
    width: 100%;
}

header {
    padding: 20px;
    display: flex;
    height: 100px;
    background: white;
    border-bottom: solid;
    border-color: rgb(255, 248, 211);
    justify-content: space-between;
    align-items: center;
    color: black;
    display: flex;
    width: 100%;
}

header .navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
    position: relative;
    background: #342E37;
    box-shadow: 0 5px 10px -5px rgba(0 0 0/30%);
}

header .navbar a:not(:last-child){
    margin-right: 10px;
}

header .navbar a:hover{
    background:#2a2a2a;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

header .icons{
    font-size: 30px;
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

.fondo {
    max-width: 100%;
    max-height: 100%;
}

.cont{
    position: relative;
    display: inline-block;
    text-align: center;
}

.adv{
    position: absolute;
    top: 250px;
    left: 90px;
    font-weight: 100px;
    text-align: left;
    border-radius: 12px;
    padding: 50px;
    background: rgba(0,0,0,.5);
    border: 0.5px solid #fff;
    z-index: 1;
}

.advtitle{
    word-spacing: -5;
    color:white;
    background: solid;
    font-size: 40px;

}

.advsub{
    color: rgb(201, 201, 201);
    text-decoration: underline;
    margin-top: 20px;
}

.us{
    width: 100%;
    padding: 100px;
    background: rgb(253, 251, 237);
    font-size: 30px;
}

.us h2{
    width: 50%;
    font-size: 60px;
    font-weight: 600;
}

.us h2 span{
    color:hsl(32, 95%, 62%);
    font-weight: 600;
}

.us p {
    max-width: 600px;
    font-size: 40px;
}

.us p span {
    color:hsl(143, 100%, 50%);
    font-weight: 600;
}

.us .nosotros{
    margin-top: 30px;
}

.us .quote{
    margin-top: 30px;
}

.us .quote2{
    margin-top: 10px;
    color: rgb(66, 66, 66);
}

.veggies{
    width: 500px;
    height: 400px;
    float: right;
    margin-top: 60px;
}

.location{
    background: #342E37;
    padding: 30px;
}


.form{
    width: 100%;
    height: 100%;
    background: rgb(253, 251, 237);
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    color: black;

}

.form-cont{
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0/30%);
}



.form-cont h2{
    color: black;
}

.form-cont h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.form-input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid;
}

.form-cta{

    width: 200px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0/30%);
    padding: 12px;
    margin: 0;
    font-size: 16px;
    border-radius:10px;
    background: #FFE45E;

}


.pie{
    font-size: 25px;
    width: 100%;
    margin: auto;

    background: #eeeeee;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;

}

.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0px;
}

.pie .grupo-1 h3{
    margin: 40px;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    color: Black;

}

.pie .grupo-1 .redes a{

    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin:20px;
    background-color:#F9DC5C;
    border-radius: 8px;

}

.pie .grupo-1 .redes a:hover{
    
    transform: scale(1.5);
    transition: 0.5s;

}

.credit{
    color: rgb(148, 148, 148);

}

@media (max-width: 960px){

    .form{
        width: 100%
    }

    .search input{

        width: 100%;

    }

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
        align-content: center;
    }

    .section{
        padding: 2rem;
    }

    header .navbar{
        display:none;
        max-width: 100%;
        box-sizing: border-box;
    }

    label{
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
        color: white;
        margin-bottom: 25px;
        margin-right: 20px;
    }

    label:hover{
        color: #fff;
    }

    label .fa-rectangle-xmark{
        display: none;
    }

    #check:checked ~ header .navbar{
        z-index: 2;
        position: fixed;
        background: #0D2149;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navbar a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .fa-bars{
        display: none;

    }

    #check:checked ~ header label .fa-rectangle-xmark{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .fa-bars{
        position: absolute;
        display: block;
        align-items: center;

    }

    header .logo{
        bottom: -6px;
    }


    .home .inicio{
        font-size: 45px;
        line-height: 50px;
    }

    .home .inicio h3 {
        font-size: 40px;
        font-weight: 600;
    }

    .home .inicio p {
        font-size: 14px;
    }

}

@media (max-width: 560px){

    #check:checked ~ header label .fa-rectangle-xmark{
        z-index: 2;
        display: block;
        position: fixed;
    }

    .home .inicio{
        width: 100%;
        font-size: 35px;
        line-height: 40px;
    }

    .home .inicio h3 {
        font-size: 30px;
        font-weight: 600;
    }

    .home .inicio p {
        font-size: 14px;
    }

}




